@model FridgeProducts.Models.Fridge;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fridges store</title>
    <link rel="stylesheet" href="~/css/AboutFridge.css" />
    <link rel="stylesheet" href="~/css/FridgeModelsStyle.css" />
</head>
<body>
    <div class="content">
        <div class="about">
            <div class="header">
                <h1>@Model.Name</h1>
            </div>
            <div class="information">
                <h4>Имя владельца: <span>@Model.OwnerName</span></h4>
                <h4>Название модели: <span>@Model.FridgeModel.Name</span></h4>
                <h4>Год выпуска: <span>@Model.FridgeModel.Year</span></h4>
            </div>

            <div class="buttons">
                <form asp-controller="Fridge" asp-action="Edit" method="get" asp-route-id="@Model.FridgeId">
                    <input type="submit" value="Редактировать" />
                </form>

                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#DeleteFridge-"+@Model.FridgeId)" data-url="@Url.Action($"Deletes/{Model.FridgeId}")">
                        Delete
                    </button>
                    @await Html.PartialAsync("Deletes", Model)

                <form asp-controller="FridgeProducts" asp-action="Add" method="get" asp-route-id="@Model.FridgeId">
                    <input type="submit" value="Добавить продукт" />
                </form>
            </div>
        </div>
        
        <div class="imageBlock">
            <img src="@FilePath.ImagePath@Model.Image">
        </div>

    </div>
        <div class="products">
        @if (@ViewBag.FridgesInProducts.Count <= 0)
            {
                <h1>В холодильнике нет продуктов</h1>
            }
            else
            {
                <h1>Продукты в холодильнике</h1>
                <table>
                    <tr>
                        <th>Название продукта</th>
                        <th>Количество</th>
                    </tr>

                @foreach (var item in ViewBag.FridgesInProducts)
                {
                    <tr>
                        <td>@item.Products.Name</td>
                        <td>@item.Quantity</td>
                        <td>
                        <form asp-controller="FridgeProducts" asp-action="Edit" method="get" asp-route-id="@item.Id">
                            <input type="submit" value="Редактировать" />
                        </form>
                        </td>
                        <td>
                            <form asp-controller="FridgeProducts" asp-action="Delete" method="post" asp-route-id="@item.Id" asp-route-FridgeId="@Model.FridgeId">
                            <input type="submit" value="Удалить" />
                        </form>
                        </td>
                    </tr>
                    
                }
                </table> 
            }
        </div>
</body>
</html>